* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

p, li {
    font-size: 12px;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

.main-content h3 {
    color: #002A9C;
    padding-bottom: 2px;
}

h3 {
    font-size: 12pt;
    font-weight: normal;
}

ul {
    padding: 5px 20px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: url(Assets/Background.jpg) center;
    background-size: cover;
}

.ctn-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    width: 1200px;
    height: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.navigation-bar {
    width: 300px;
}

.nav-wm {
    width: 300px;
    padding-bottom: 12px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link-main {
    color: white;
    text-decoration: none;
    width: 300px;
}

.nav-link-layout {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background: linear-gradient(
        to bottom,
        rgba(40, 40, 40, 0.6),
        rgba(60, 60, 60, 0.6)
    );
    border: 1px solid #ffffff50;
    backdrop-filter: blur(2px);
    box-shadow:
        0 6px 18px rgba(0, 0, 0, 0.30),
        0 2px 6px rgba(0, 0, 0, 0.35),
        0 0 1px rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    margin-bottom: 8px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.nav-link-layout:hover {
    transform: translateY(-2px);
}

.nav-link-layout img {
    padding-right: 12px;
    width: 48px;
    height: 48px;
}

.nav-link-desc p {
    opacity: 0.7;
}

.extra-nav-links {
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.extra-nav {
    width: 32px;
    height: 32px;
}

.window-wrapper {
    backdrop-filter: blur(3px);
    border: 1px solid #E0E1E1;
    box-sizing: border-box;
    border-radius: 8px;
    height: 100%;
    width: 880px;
    box-shadow:
        0 6px 18px rgba(0, 0, 0, 0.30),
        0 2px 6px rgba(0, 0, 0, 0.35),
        0 0 1px rgba(0, 0, 0, 0.45);
    padding: 6px;
    background-color: #435F6788;
    background-image: url('Assets/Side Highlight.png');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: top center;
}

.main-content {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #282829;
    box-shadow: 0 0 0 1px #AAAAAB;
    overflow: auto;
    padding: 12px 20px;
}

.footer {
    position: absolute;
    padding-bottom: 12px;
    opacity: 0.5;
    bottom: 0; 
}

.desc-of-c7 {
    padding-bottom: 6px;
}

.c7-preview {
    width: 824px;
    padding-bottom: 6px;
}

.w7-button {
    position: relative;
    font-size: 12px;
    padding: 3px 12px;
    border-radius: 2px;
    border: 1px solid #FFFFFF80;
    box-shadow: 0 0 0 1px #707070;
    text-decoration: none;
    color: black;
    background: linear-gradient(
        to bottom, 
        #F2F2F2 0%, 
        #EBEBEB 48%, 
        #DDDDDD 49%, 
        #CFCFCF 100%
    );
    overflow: hidden;
    transition: box-shadow 0.5s ease;
}

.w7-button::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(
        to bottom, 
        #EAF6FD 0%, 
        #D9F0FC 48%, 
        #BEE6FD 49%, 
        #A7D9F5 100%
    );
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 0;
}

.w7-button:hover {
    box-shadow: 0 0 0 1px #3C7FB1;
}

.w7-button:hover::before {
    opacity: 1;
}

.w7-button span {
    position: relative;
    z-index: 1;
}

.mirror-links, .thrashnet-ftp, .mirror-p, .dl-p {
    padding-bottom: 6px;
}